{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "$": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": "off",
    "no-unused-vars": ["warn", { "varsIgnorePattern": "h" }],
    "semi": 2
  },
  "settings": {
    "react": {
      "pragma": "h"
    }
  }
}
